.recom-content {
    position: absolute;
    right: 750px;
    top: 90px;
    border-radius: 25px;
    background: linear-gradient(to right, #e5e4e2, rgba(170, 143, 243, 0.774));
    opacity: 0.8;
    padding: 20px;
    width: 1100px;
    height: 900px;

    .recom-title {
        position: absolute;
        right: 900px;
        top: 30px;
        color:black;
        font-family: "Nanum Pen Script", cursive;
        font-size: 50px;
        font-weight: 600;
    }
    
    .meal-title {
        position: absolute;
        top: 80px;
        right: 250px;
        font-family: "Nanum Pen Script", cursive;
        font-size: 50px;
    }
    .meal-detail {
        position: absolute;
        top: 550px;
        left: 50px;
        font-family: "Nanum Pen Script", cursive;
        font-size: 30px;
    }
    .meal-info {
        position: absolute;
        top: 250px;
        right: 250px;
        font-family: "Nanum Pen Script", cursive;
        font-size: 30px;
    }
    .meal-img {
        position: absolute;
        top: 150px;
        left: 100px;
        .image {
            width: 400px;
            border: 5px solid #e5e4e2;
            border-radius: 25px;
        }
    }
}

.profile-container {
    background-color: rgb(255, 255, 255);
    width: 2048px;
    border: 3px solid #333;
    max-width: 200%;
    margin: 10px auto;
    background-image: url("./images/profileBG.jpg");
    position: fixed;
    min-width: 200%;
    min-height: 100%;
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    
    .prof-title {
        margin-top: 0px;
        position: absolute;
        right: 2210px;
        font-size: 50px;
        font-weight: 500;
        font-family: "Nanum Pen Script", cursive;
        font-size: 120px;
    }
    
    .prof-title button {
        color: #e5e4e2;
    }
    
    .prof-menu button {
        position: absolute;
        right: 420px;
        transition: 0.3s;
        padding: 15px;
        width: 170px;
        text-decoration:solid;
        text-align: right;
        font-size: 20px;
        font-weight: 600;
        color: white;
        border-radius: 0 5px 5px 0;
    }
    .prof-menu button:hover {
        right: 530px;
    }
    .home {
        top: 20px;
        background-color: #04aa6d;
    }
    
    .reccomend {
        top: 100px;
        background-color: #2196f3;
    }
    .login {
        top: 180px;
        background-color: #f44336;
    }
    .logout {
        top: 260px;
        background-color: #f44336;
    }
    .profile {
        top: 180px;
        background-color: #e5ff0098;
    }
    .icon {
        position: absolute;
        right: 130px;
    }

    .prof-content {
        position: absolute;
        right: 750px;
        top: 90px;
        border-radius: 25px;
        background: linear-gradient(to right, #e5e4e2, rgba(170, 143, 243, 0.774));
        opacity: 0.8;
        padding: 20px;
        width: 1100px;
        height: 900px;

        .title {
            position: absolute;
            right: 900px;
            top: 30px;
            color:black;
            font-family: "Nanum Pen Script", cursive;
            font-size: 50px;
            font-weight: 600;
        }
        .area {
            background: none;
            width: 100%;
            
            .circles {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
             }
            .circles li{
                position: absolute;
                display: block;
                list-style: none;
                width: 20px;
                height: 20px;
                background: rgba(255, 255, 255, 0.623);
                animation: animate 25s linear infinite;
                bottom: -150px;
            }
            .circles li:nth-child(1) {
                left: 25%;
                background: none;
                animation-delay: 0s;
            }
            .circles li:nth-child(2){
                left: 10%;
                background: none;
                animation-delay: 2s;
                animation-duration: 12s;
            }
            .circles li:nth-child(3){
                left: 70%;
                background: none;
                animation-delay: 4s;
            }
            
            .circles li:nth-child(4){
                left: 40%;
                background: none;
                animation-delay: 0s;
                animation-duration: 18s;
            }
            
            .circles li:nth-child(5){
                left: 65%;
                background: none;
                animation-delay: 0s;
            }
            
            .circles li:nth-child(6){
                left: 75%;
                background: none;
                animation-delay: 3s;
            }
            
            .circles li:nth-child(7){
                left: 35%;
                background: none;
                animation-delay: 7s;
            }
            
            .circles li:nth-child(8){
                left: 50%;
                background: none;
                animation-delay: 15s;
                animation-duration: 45s;
            }
            
            .circles li:nth-child(9){
                left: 20%;
                background: none;
                animation-delay: 2s;
                animation-duration: 35s;
            }
            
            .circles li:nth-child(10){
                left: 85%;
                background: none;
                animation-delay: 0s;
                animation-duration: 11s;
            }
            @keyframes animate {
                0% {
                    transform: translateY(0) rotate(0deg);
                    opacity: 1;
                    border-radius: 0;
                }
                100% {
                    transform: translateY(-1000px) rotate(720deg);
                    opacity: 0;
                    border-radius: 50%;
                }
            }
        }

        .inf-group {
            font-family: 'Nanum Pen Script', cursive;
            font-size: 40px;
            font-weight: 600;
            position: relative;
            top: 140px;
            left: 20px;
            padding: 10px;
            margin-left: 10px;

            .edtBtn {
                position: absolute;
                right: 40px;
                top: -130px;
                background: none;
                border: none;
                transition: all 250ms ease-in-out;
                cursor: pointer;
                &:active {
                    background-color :rgb(78, 17, 17);
                    box-shadow: 0 5px #666;
                    transform: translateY(5px);
                }
                &:hover {
                    background: none;
                    border: 2px solid;
                    border-radius: 10px;
                }
                &:focus {
                    outline: none;
                }
            }
            .input-inf {
                position: absolute;
                border: none;
                background: none;
                right: 100px;
                font-weight: 600;
            }
        }
    }
    
}

.app {
    background-color: #fff;
    width: 1024px;
    border: 3px solid #333;
    max-width: 100%;
    margin: 10px auto;
    background-image: url("./images/homeBG.jpg");
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search {
            position: absolute;
            top: 12%;
            right: -3%;
            width: 370px;
            height: 60px;
            border-radius: 40px;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
            transform: translate(-50%, -50%);
            background: #fff;
            transition: all 0.3s ease;
            .search-input {
                font-family: "Nanum Pen Script", cursive;
                position: absolute;
                top: 20px;
                left: 45px;
                font-size: 25px;
                font-weight: 500;
                background: none;
                color: #5a6674;
                width: 195px;
                height: 20px;
                border: none;
                appearance: none;
                outline: none;

                &::-webkit-search-cancel-button {
                    appearance: none;
                }
            }
            .search-btn {
                position: absolute;
                top: 20px;
                left: 20px;
                height: 20px;
                width: 20px;
                padding: 0;
                margin: 0;
                border: none;
                background: none;
                outline: none !important;
                cursor: pointer;

                & svg {
                    width: 20px;
                    height: 20px;
                    fill: #5a6674;
                }
            }
            .img-search {
                position: absolute;
                top: 20px;
                right: 20px;
                height: 20px;
                width: 20px;
                padding: 0;
                margin: 0;
                border: none;
                background: none;
                outline: none !important;
                cursor: pointer;

                & svg {
                    width: 20px;
                    height: 20px;
                    fill: #5a6674;
                }
                .img-search-btn {
                    opacity: 0;
                    position: absolute;
                    top: -2px;
                    right: -700%;
                    cursor: pointer;

                }
            }
        }

        .page-title {
            margin-top: 90px;
            position: absolute;
            right: 180px;
            font-size: 50px;
            font-weight: 500;
        }
    }
    .contents {
        .menu button {
            position: absolute;
            right: -120px;
            transition: 0.3s;
            padding: 15px;
            width: 170px;
            text-decoration:solid;
            text-align: right;
            font-size: 20px;
            font-weight: 600;
            color: white;
            border-radius: 0 5px 5px 0;
        }
        .menu button:hover {
            right: 0;
        }
        .home {
            top: 20px;
            background-color: #04aa6d;
        }
        .reccomend {
            top: 100px;
            background-color: #2196f3;
        }
        .login {
            top: 180px;
            background-color: #f44336;
        }
        .logout {
            top: 260px;
            background-color: #f44336;
        }
        .profile {
            top: 180px;
            background-color: #e5ff0098;
        }
        .icon {
            position: absolute;
            right: 130px;
        }
    }
}

