.contents {
    .menu button {
        position: absolute;
        right: -120px;
        transition: 0.3s;
        padding: 15px;
        width: 170px;
        text-decoration:solid;
        text-align: right;
        font-size: 20px;
        font-weight: 600;
        color: white;
        border-radius: 0 5px 5px 0;
    }
    .menu button:hover {
        right: 0;
    }
    .home {
        top: 20px;
        background-color: #04aa6d;
    }
    .reccomend {
        top: 100px;
        background-color: #2196f3;
    }
    .login {
        top: 180px;
        background-color: #f44336;
    }
    .logout {
        top: 260px;
        background-color: #f44336;
    }
    .profile {
        top: 180px;
        background-color: #e5ff0098;
    }
    .icon {
        position: absolute;
        right: 130px;
    }
}