.recom-content {
    position: absolute;
    right: 750px;
    top: 90px;
    border-radius: 25px;
    background: linear-gradient(to right, #e5e4e2, rgba(170, 143, 243, 0.774));
    opacity: 0.8;
    padding: 20px;
    width: 1100px;
    height: 900px;

    .recom-title {
        position: absolute;
        right: 900px;
        top: 30px;
        color:black;
        font-family: "Nanum Pen Script", cursive;
        font-size: 50px;
        font-weight: 600;
    }
    
    .meal-title {
        position: absolute;
        top: 80px;
        right: 250px;
        font-family: "Nanum Pen Script", cursive;
        font-size: 50px;
    }
    .meal-detail {
        position: absolute;
        top: 550px;
        left: 50px;
        font-family: "Nanum Pen Script", cursive;
        font-size: 30px;
    }
    .meal-info {
        position: absolute;
        top: 250px;
        right: 250px;
        font-family: "Nanum Pen Script", cursive;
        font-size: 30px;
    }
    .meal-img {
        position: absolute;
        top: 150px;
        left: 100px;
        .image {
            width: 400px;
            border: 5px solid #e5e4e2;
            border-radius: 25px;
        }
    }
}